@import url(../stylesheets/main-frame.css);

header {
  border-bottom: 1px solid var(--header-border);
  background-color: var(--header-bg);
  height: 7vh;
  width: 100%;
  padding-inline: var(--inline-padding);
  position: fixed;
  user-select: none;
}

.header-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
}

.header-logo-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-logo {
  width: 150px;
}

.header-content {
  height: 100%;
  width: fit-content;
}

.header-content-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

.navbar {
  height: 100%;
  width: 384px;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: var(--header-text);
  text-decoration: none;
  font-family: var(--header-font);
  /* letter-spacing: 0.8px; */
  font-weight: 500;
  font-size: var(--header-font-size);
  position: relative;
  transition: var(--root-transition);
}

nav a:hover {
  color: var(--header-text-hover);
}

nav a:before {
  content: "";
  background-color: var(--header-text-hover);
  height: 1px;
  width: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transition: var(--root-transition);
}

nav a:hover:before {
  width: 100%;
}

.nav-span {
  display: inline-block;
  position: relative;
}

.header-search-unit {
  height: 100%;
  width: 304px;
}

.header-search-unit-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input {
  border: none;
  background-color: transparent;
  color: var(--header-input-hover);
  font-family: var(--header-font);
  font-size: var(--header-input-font-size);
  transition: var(--root-transition);
}

#input::placeholder {
  transition: var(--root-transition);
}

#input:focus {
  outline: none;
  border: none;
}

/* #input:hover::placeholder {
  color: var(--header-input-hover);
} */

#input:focus::placeholder {
  color: var(--header-input-hover);
}

#search-button {
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  padding-inline: 7px;
  overflow: hidden;
  transition: var(--root-transition);
}

#search-button:hover {
    background-color: var(--header-button-hover);
}

#search-button img {
  height: var(--header-button-size);
  width: var(--header-button-size);
}
