@import url(../stylesheets/main-frame.css);

header {
  border-bottom: 1px solid var(--header-border);
  background-color: var(--header-bg);
  height: 7vh;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  padding-inline: var(--inline-padding);
  position: fixed;
  user-select: none;
  z-index: 9999;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.header-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
}

.header-logo-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-logo {
  width: 160px;
}

.header-content {
  height: 100%;
  width: fit-content;
}

.header-content-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

.navbar {
  height: 100%;
  width: 384px;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: var(--header-text);
  padding: 0 5px;
  text-decoration: none;
  font-family: var(--header-font-family);
  /* letter-spacing: 0.8px; */
  font-weight: 500;
  font-size: var(--header-font);
  position: relative;
  transition: var(--global-transition);
}

nav a:hover {
  color: var(--header-text-hover);
}

nav a:before {
  content: "";
  background-color: var(--header-text-hover);
  height: 1px;
  width: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transition: var(--global-transition);
}

nav a:hover:before {
  width: 100%;
}

.nav-span {
  display: inline-block;
  position: relative;
}

.header-search-unit {
  height: 100%;
  width: 304px;
}

.header-search-unit-housing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container {
  position: relative;
}

#header-input {
  border: none;
  background-color: transparent;
  color: var(--header-input-hover);
  font-family: var(--header-font-family);
  font-size: var(--header-input-font);
  transition: var(--global-transition);
}

#header-input::placeholder {
  color: var(--header-text);
  transition: var(--global-transition);
}

#header-input:focus {
  outline: none;
  border: none;
}

#header-input:focus::placeholder {
  color: var(--header-input-hover);
}

#input-shortcut {
  border-radius: 5px;
  position: relative;
  padding: 4px 7px;
}

#search-button {
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  padding: 7px;
  /* padding-inline: 10px; */
  overflow: hidden;
  transition: var(--global-transition);
}

#search-button:hover {
  background-color: var(--header-button-hover);
  box-shadow: 0px 0px 10px 0px #080808;
}

#search-button img {
  height: var(--header-button-size);
  width: var(--header-button-size);
}
