/* @import url(../stylesheets/loader.css); */

@font-face {
  font-family: "cinzel";
  src: url(../assets/fonts/cinzel/Cinzel-VariableFont_wght.ttf);
}

@font-face {
  font-family: "montserrat";
  src: url(../assets/fonts/montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/inter/Inter-VariableFont_slnt\wght.ttf);
}

:root {
  /* Global */
  --global-transition: all ease-in-out 300ms;
  --global-background: #000000;
  --global-font: #ffffff;
  /* Scroll Bar */
  --scrollbar-bg: #242424;
  --scroll-thumb-bg: #9d9d9d;
  /* Site Padding (Inline) */
  --inline-padding: 7vw;
  /* Shortcut */
  --shortcut-border: #3636367d;
  --shortcut-text: #a8a8a8;
  --shortcut-font: 11px;

  /* Cursor */
  --cursor-size: 15px;
  /* Loader */
  --loader-bg: #000003;
  --loader-text: #f7f7f7;
  --stars: #ffffff;
  /* Header */
  --header-border: #59595933;
  --header-bg: #0a0a0ae7;
  --header-text: #aeaeae;
  --header-text-hover: #fff;
  --header-font: 15px;
  --header-font-family: "montserrat";
  --header-input-hover: #dadada;
  --header-input-font: 13px;
  --header-button-size: 18px;
  --header-button-hover: #2c2c2c77;
  /* Buy Panel */
  --buy-panel-bg: var(--header-bg);
  --buy-panel-text: #ffffff;
  --buy-panel-indentation: 2vw;
  --buy-panel-sub-heading: #999;
  --buy-panel-heading: #fff;
  --buy-panel-sub-text: #cacaca;
  --buy-panel-sub-indentation: 15px;
  --buy-panel-links: #d4d4d4;
  /* Hero */
  --hero-sub-indentation: 25px;
  --hero-sub-text: #ababab;
  --hero-heading-text: #ffffff;
  --hero-cta-bg: #303030a9;
  --hero-cta-text: #e4e4e4;
  --hero-cta-font: 14px;
  --hero-cta-mover-bg: #000000bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}

html,
body {
  position: relative;
  overflow-x: hidden;

  /* Comment to disable Loader */
  /* overflow-y: hidden; */
}

::-webkit-scrollbar {
  background-color: var(--scrollbar-bg);
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-bg);
}

.cursor {
  height: var(--cursor-size);
  width: var(--cursor-size);
  position: fixed;
  /* top: 50%; */
  left: 50%;
  display: none;
  pointer-events: none;
  z-index: 999999;
}

.cursor img {
  height: 100%;
  width: 100%;
}

.cursor svg {
  height: 100%;
  width: 100%;
}

.root {
  background-color: var(--global-background);
  color: var(--global-font);
  min-height: 200vh;
}

.shortcut {
  border: 1px solid var(--shortcut-border);
  /* background-color: var(--shortcut-bg); */
  color: var(--shortcut-text);
  backdrop-filter: blur(10px);
  font-family: "montserrat";
  font-size: var(--shortcut-font);
  white-space: nowrap;
}
