/* @import url(../stylesheets/loader.css); */

@font-face {
  font-family: "cinzel";
  src: url(../assets/fonts/cinzel/Cinzel-VariableFont_wght.ttf);
}

@font-face {
  font-family: "montserrat";
  src: url(../assets/fonts/montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/inter/Inter-VariableFont_slnt\wght.ttf);
}

:root {
  /* Root */
  --scrollbar-bg: #080808;
  --scroll-thumb-bg: #9d9d9d;
  --root-transition: all ease-in-out 300ms;
  --inline-padding: 7vw;
  /* Cursor */
  --cursor-size: 20px;
  /* Loader */
  --loader: #000003;
  --loader-font: #f7f7f7;
  --stars: #ffffff;
  --background: #000000;
  --font: #ffffff;
  /* Header */
  --header-border: #59595933;
  --header-bg: #040404b4;
  --header-text: #aeaeae;
  --header-text-hover: #fff;
  --header-font-size: 16px;
  --header-font: "montserrat";
  --header-input-hover: #dadada;
  --header-input-font-size: 14px;
  --header-button-size: 16px;
  --header-button-hover: #171717;
  /* Hero */
  --hero-sub-indentation: 25px;
  --hero-sub-text: #ababab;
  --hero-heading-text: #ffffff;
  --hero-cta-bg: #303030a9;
  --hero-cta-text: #e4e4e4;
  --hero-cta-size: 16px;
  --hero-cta-text-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html,
body {
  position: relative;
  overflow-x: hidden;

  /* Comment to disable Loader */
  /* overflow-y: hidden; */
}

::-webkit-scrollbar {
  background-color: var(--scrollbar-bg);
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-bg);
}

.cursor {
  height: var(--cursor-size);
  width: var(--cursor-size);
  position: absolute;
  /* top: 50%; */
  left: 50%;
  display: none;
  pointer-events: none;
  z-index: 999999;
}

.cursor img {
  height: 100%;
  width: 100%;
}

.cursor svg {
  height: 100%;
  width: 100%;
}

.root {
  background-color: var(--background);
  color: var(--font);
  min-height: 200vh;
}
